<h2>Navigation bar:</h2>
<ul>
  <li><%= link_to "Home", articles_path %></li>
  <li><%= link_to "Historique", history_path %></li>
  <li>Contact</li>
  <li>Search</li>
</ul>

<h3>Historique des articles</h3>
<ul>
  <% @years.each do |year| %>
    <li><%= year %></li>
    <% @articles.each do |article, year| %>
      <ul>
        <li><%= link_to article.title, article_path(article) %></li>
      </ul>
    <% end %>
  <% end %>
</ul>
