.article-card{
  padding-top: 6vh;
    height: 50vh;
    display: flex;
    align-items: flex-start;

  img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    margin-left: 2vh;
  }
}

.article-info{
  width: 50%;
  height: 100%;
  margin-right: 2vh;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-date{
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 1.5vw;
  letter-spacing: 0.01em;

  color: #787878;
}

.article-title{
  font-family: 'Plantagenet Cherokee';
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 100%;
    text-align: justify;

  a{
    text-decoration: none;
    background-color: #76D8B4;
    color: black;
  }
}

.article-content{
  font-family: 'Helvetica';
  font-size: 1.4vw;
  text-align: justify;
  color: #787878;
  margin-bottom: 0px;

  a{
    text-decoration: none;
    color: #787878;
  }
}
