.article-form{
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: auto auto;
  flex-direction: column;

  input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 4vh;
    width: 100%;
  }

  label{
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 0.01em;
    color: #787878;
  }

  .login-button{
    width:auto;
  }
}

#article_content{
  height: auto;
  min-height: 50vh;
}

.form-control{
  background-color: white;
  margin-bottom: 4vh;
  border: 1px solid grey;
  border-radius: 3px;
}
