.article-card{
  padding-top: 3rem;
  height: 30rem;
  display:flex;
  align-items: flex-start;

  img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    margin-left: 1rem;
  }
}

.article-info{
  width: 50%;
  height: 100%;
  margin-right: 1rem;

  ul{
    list-style: none;
  }
}

.article-date{
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.01em;

  color: #787878;
}

.article-title{
  font-family: 'Plantagenet Cherokee';
  font-weight: 400;
  font-size: 52px;
  line-height: 55px;
  text-align: justify;

  a{
    text-decoration: none;
    background-color: #76D8B4;
    color: black;
  }
}

.article-content{
  font-family: 'Helvetica';
  font-size: 17px;
  text-align: justify;
  color: #787878;

  a{
    text-decoration: none;
    color: #787878;
  }
}
