//Global Navbar style

.navbar{
  height: auto;
  padding: 2vh 0rem 2vh 0rem;
  display: flex;

  span{
    color: #BABABA;
    font-family: 'Helvetica';
    font-size: 1.75vw;
    margin-right: 2vw;
  }
  }

  a{
    text-decoration:none;
    color: #BABABA;
  }

  a:hover{
    color: #787878;
  }

  form{
    align-items: center;
  }

  // Searchbar style

  .search-item{
  margin-left: auto;
  margin-right: 0px;

  color: #BABABA;
  font-family: 'Helvetica';
  font-size: 1.75vw;
  font-weight: 500;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  input{
    margin-right: 1vw;
  }

  span:hover{
    color: #787878;
  }

  .form-control{
    input{
    margin-right: 1vw;
    }
  }

  input:hover{
    color: #787878;
  }

  i{
    display: flex;
    align-items: center;
  }

  i:hover{
    color: #787878;
  }
}

#query{
  margin-bottom: 0px;
}
